/** Add css rules here for your application. */

.remove-icon {
	background-image: url("../images/explorateur/delete.png") !important;
}

.add-icon {
	background-image: url("../images/explorateur/add.png") !important;
}

.edit-icon {
	background-image: url("../images/explorateur/layout_edit.png") !important;
}

.create-icon {
	background-image: url("../images/explorateur/layout_add.png") !important;
}

.delete-icon {
	background-image: url("../images/workobjecttree/delete.ico") !important;
}

.save-icon {
	background-image: url("../images/explorateur/disk.png") !important;
}

.undo-icon {
	background-image: url("../images/undo-icon.png") !important;
}

.redo-icon {
	background-image: url("../images/redo-icon.png") !important;
}

.all-icon {
	background-image: url("../images/explorateur/table_refresh.png") !important;
}

.refresh-icon {
	background-image: url("../images/explorateur/table_refresh.png") !important;
}

.permitted-check {
	background-image: url("../images/cercle_teal.png") !important;
	background-repeat: no-repeat;
	background-position: top center;
}

.banned-check {
	background-image: url("../images/cercle_red.png") !important;
	background-repeat: no-repeat;
	background-position: top center;
}

.default-check {
	background-image: url("../images/cercle_uncheck.png") !important;
	background-repeat: no-repeat;
	background-position: top center;
}

.deduced-perm-check {
	background-image: url("../images/cercle_teal_disabled.png") !important;
	background-repeat: no-repeat;
	background-position: top center;
}

.deduced-ban-check {
	background-image: url("../images/cercle_red_disabled.png") !important;
	background-repeat: no-repeat;
	background-position: top center;
}








